* {
    
}
body {
    background-color: #000;
    color:white;
    padding: 1% 5%;
    margin:auto;
    text-align: center;
}
/* ELEMENTS */
h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
    color: #f00;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
a {
    color:white;
    text-decoration: none;
}
a:visited {
    color:white;
}
/* CLASSES */
.col {
    border: 1px solid #fff;
    height:90%;
    margin:1%;
    padding: 1%;
    float:left;
}
.link {
    padding:1%;
    height: 15.75%;
    vertical-align: middle;
    text-align: left;
}
.link ul {
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
}
.link ul li{
    display:inline;
    vertical-align: middle;
    padding: 2%;
}
.link:hover {
    background-color: #fff;
    color:black;
    transition: .2s;
}
.link:hover i {
    color: #A8DADC;
}
.link * {
    line-height: 100%;
    vertical-align: middle;
}
.link i {
    font-size: 32px;
}
.link h3 {
    display: inline;
    font-size: 24px;
}

/* IDS */
#header {
    height:15vh;
}
#main {
    height: 70vh;
}
#footer {
    height: 5vh;
}
#footer p {
    font-size: 12px;
}
#footer a:hover {
    color: #A8DADC;
    transition: .2s;
}
#publications {
    margin-top: 10px;
}
#publications a {
    color: #A8DADC;
}
#contact a {
    color: #A8DADC;
}
#links {
    float:right;
    width:15%;
    font-family: 'Montserrat', sans-serif;
}
#terminal {
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    float:left;
    width:75%;
}
#terminal p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
#TerminalCommand {
    background-color: #000;
    color:white;
    font-family: 'IBM Plex Mono', monospace;
    border: none;
}