/*GENERAL STYLING*/
body {
    margin: auto;
    background-color: whitesmoke;
    background-image: url(img/dust_scratches.png);
    background-repeat: repeat;
    color: black;
    font-family: 'Open Sans', sans-serif;}
body h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: normal;
    text-align: center;
    padding: 0px 12%;}
body h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 0px 18%;}
body hr {
    align-self: center;
    width: 75%;}
body a {
    color: #600;
    text-decoration: none; }
body a:hover {
    color: #A8DADC;
    transition: .25s;}
body figcaption {
    font-size: 12px;
    font-style: italic;
    text-align: center;}

/*NAVIGATION*/
body .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;}
body .nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    text-align: center:}
body .nav li {
    display: inline;}
body .nav a {
    display: inline-block;
    padding: 10px;
    color: #600;}
body .nav a:hover {
    color: #A8DADC;
    transition: .25s;}

/*HEADER*/
body .header img {
    display: block;
    margin: 20px auto 20px auto;
    padding-left: 4%;
    max-width: 35%;
    transition:.25s;}
body .header img:hover {
    max-width: 35.25%;
    transition: .25s;}

/*SLIDER*/
body .swiper-container {
    display: flex;
    width: 30vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
    border-radius: 15%;
    background-color: dimgray;}
body .swiper-container img {
    position: relative;
    width: 100%;
    max-height: 100%;
    object-fit: cover;}

/*HOMEPAGE*/
body .home {
    margin: 0 0 0 auto;
    padding-left: 50px; 
    padding-bottom: 50px;}
body .home h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #666;
    text-align: center;
    font-size: 24px;
    margin: 5px 0 10px 10px;
    padding: 5px 20%; }
body .home p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 5px 0 10px 10px;
    padding: 5px 25% 5px 0; 
    text-align: left;
    display: block;
    line-height: 1.75;}
body .homecolumn {
    float: left;
    width: 50%;
    padding 15px;}
body .home:after {
    content: "";
    display: table;
    clear: both;}

/*BLOGMAIN*/
body .blogmain a {
    display: block;
    margin: 10px auto 10px auto;
    width: 50%;}
body .blogmain img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
    width: 100%;}

/*BLOGPOST GRIDS FOR ARCHIVE AND BLOGMAIN*/
body .container {
    display: flex;
    margin: 20px 14% 50px 14%;
    grid-template-columns: auto auto auto;;
    align-content: center;
    justify-content:center;}
body .viewer {
    position: relative;
    transition: .5s;
    opacity: 1;
    padding: 2% 2%;
    float: left;}
body .viewer:hover {
    transition: .5s;
    opacity: .5;}
body .preview {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.24);}
body .preview img {
    position: relative;
    width: 15vw;
    height: 15vw;
    object-fit: cover;}
body .title {
    padding: 15px;
    background-color: whitesmoke;
    text-align: center;}
body .clearfix {
    content: "";
    display: table;
    clear: both;
}

/*POST*/
body .post h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: normal;
    text-align: center;
    padding: 0px 12%;}
body .post h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 0px 18%;}
body .post p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 5px 0 10px 10px;
    padding: 10px 18%;
    text-align: justify;
    line-height: 1.4;}
body .post img {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
    margin: 10px auto 10px auto;
    width:50vw;
    object-fit: cover;}

/*FOOTER*/
body .footer {
    background-color: #333;
    width:auto;
    height:100px;
    padding-top: 10px;}
body .footer i {
    font-size: 36px;
    color: white;
    display: inline-block;
    text-align: center;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;}
body .footer p{
    text-align: center;}
body .footer i:hover{
    color: #A8DADC;
    transition: .25s;}
