/*GENERAL STYLING*/
body {
    margin: auto;
    background-color: #f9f9f9;
    color: #373737;
    font-family: 'Work Sans', sans-serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in;}
body h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-size: 38px;
    font-weight:800;
    text-align: center;
    padding: 0px 12%;}
body h3 {
    color:#373737;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding: 0px 18%;
    line-height: 1.5;}
body p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin: 5px 0 10px 10px;
    padding: 5px 10% 5px 10%; 
    text-align: center;
    display: block;
    line-height: 1.75;}
body hr {
    align-self: center;
    width: 10%;}
body a {
    color: #600;
    text-decoration: none;
    transition:.2s;}
body a:hover {
    color: #A8DADC;
    transition: .2s;}
body i {
    font-size: 36px;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 0 3%;}

/*HEADER*/
body .header {
    height: 25vh;
}
body .header img {
    display: block;
    margin: 20px auto 20px auto;
    padding-left: 2%;
    width: 35vw;}

/*HOME CONTENT*/
body .home {
    min-height: 75vh;}

/*BIO*/
body .bio {
    min-height: 93vh;
    padding: 2vh 10% 0 10%;}
body .bio p {
    text-align: left;}
body .bio:after {
    content: "";
    display: table;
    clear: both;}
body .biocolumn {
    float: left;
    width: 50%;}
/*FOOTER*/
body .footer {
    height: 5vh;}
body .footer p {
    font-size: 12px;}

/*RESUME*/
body .resume {
    padding: 25px 10%;}
body .resume h1 {
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-size: 32px;
    font-weight:800;
    text-align: center;}
body .resume h2 {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: #1c1c1c;
    font-size: 24px;
    font-weight:bold;}
body .resume h3 {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: #1c1c1c;
    font-size: 22px;}
body .resume hr {
    width: 80%;}
body .resume ul {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    padding-left: 75px; 
    line-height: 1.75;}
body .resumehead h1{
    text-align: center;}
body .resumesection {
    padding: 50px 10%;}
body .resumesection:after {
    content: "";
    display: table;
    clear: both;}
body .resumesection hr {
    width: 100%;}
body .leftcolumn {
    float:left;
    width: 75%;}
body .leftcolumn h2, .leftcolumn h3, .leftcolumn ul {
    text-align: left;}
body .rightcolumn {
    float:left;
    width: 25%;}
body .rightcolumn h2 {
    text-align: right;}
body .rightcolumn h3 {
    text-align: right;}

/*4K Monitors*/
@media screen and (min-width: 2560px) {
body h2 {
    font-size: 80px;}
body h3 {
    font-size: 48px;}
body i {
    font-size: 60px;}
body p {
    font-size: 40px;}
    
/*HEADER*/
body .header {
    height: 25vh;}
body .header img {
    padding-left: 4%;
    width: 40vw;}
    
/*HOME*/
body .home {
    min-height: 75vh;}
    
/*FOOTER*/
body .footer p {
    font-size: 10px;}
}

/*TABLET*/
@media screen and (max-width: 1025px) {
body h2 {
    font-size: 24px;
    padding: 0px 5%;}
body h3 {
    font-size: 20px;
    padding: 0px 10%;}
body hr {
    width: 20%;}
body i {
    font-size: 28px;}
    
/*HEADER*/
body .header {
    height: 25vh;}
body .header img {
    padding-left: 4%;
    width: 60vw;}
    
/*HOME*/
body .home {
    min-height: 75vh;}

/*BIO*/
body .bio {
    padding: 0 2.5%;}
body .biocolumn {
    float: left;
    width: 100%;}
    
/*FOOTER*/
body .footer p {
    font-size: 10px;}
}

/*MOBILE*/
@media screen and (max-width: 640px) {
body h2 {
    font-size: 24px;
    padding: 0px 5%;}
body h3 {
    font-size: 18px;
    padding: 0px 10%;
    line-height: 1.25}
body hr {
    width: 20%;}
body i {
    font-size: 28px;}
    
/*HEADER*/
body .header {
    height: 20vh;}
body .header img {
    padding-left: 4%;
    width: 85vw;}
    
/*HOME*/
body .home {
    min-height: 80vh;}

/*BIO*/
body .bio {
    padding: 0 2.5%;}
body .biocolumn {
    float: left;
    width: 100%;}
    
/*FOOTER*/
body .footer p {
    font-size: 10px;}
}

/*ANIMATIONS*/
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}}