/* ELEMENTS */
table {
    margin:auto;
    border-spacing: 0px 25px;
    width: 75%;
}
tr:hover {
    transition:0.3s;
    background-color: rgba(255,255,255,.95);
    color: black;
}
tr:hover a {
    color:black;
}
td {
    height: 15vh;
    padding-left: 5px;
}
td a {
    cursor:pointer;
    display:block;
    padding: 20px;
    margin: -20px;
}
img {
    max-height: 15vh;
    border-radius: 50%;
}
/* CLASSES */
.post-date, .post-id {
    font-size: 16px;
}
.post-description {
    text-align: left;
    vertical-align: top;
    line-height: 5px;
}
/*TABLET*/
@media screen and (max-width: 1025px) {
    table {
        width:95%;
    }
    td {
        height: 15vh;
    }
    h2 {
        font-size: 24px;
        line-height: 25px;
    }
    /* IDs */
    #blogmenu {
        font-size: 16px;
    }
    /* CLASSES */
    .post-date, .post-id {
        font-size: 16px;
    }
    .post-description {
        padding-top: 0;
        line-height: 5px;
    }
}

/*MOBILE*/
@media screen and (max-width: 640px) {
    table {
        width:100%;
    }
    td {
        height: 20vh;
    }
    h2 {
        font-size: 14px;
        line-height: 15px;
    }
    /* IDs */
    #blogmenu {
        font-size: 11px;
    }
    /* CLASSES */
    .post-date, .post-id {
        font-size: 14px;
    }
    .post-description {
        padding-top: 15px;
        line-height: 5px;
    }

}