/* Elements */
.section-header {
    font-size: 30px;
}
/* IDs */
#post {
    background-color: white;
    position: absolute;
    min-height: 80vh;
    margin-top: 15px;
    right:0px;
    left:0px;
    color: black;
}
#content {
    width:65vw;
    margin:auto;
    text-align: left;
}
#title {
    font-size: 40px;
}
#posthead {
    padding: 25px 0 75px 0;
}
#posthead-img {
    float:left;
    width:25%;
    text-align: left;
}
#posthead-img img {
    max-height: none;
    width:75%;
}
#posthead-title {
    float:left;
    width: 50%;
    text-align: left;
}

/* Classes */
.column {
    float: right;
    width: 50%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }