/* Elements */
span {
    font-size: 20px;
    font-family: 'Arial', 'Open Sans', Roboto, "Helvetica Neue", sans-serif;
}
p {
    font-size: 18px;
}
h4 {
    font-size: 22px;
    color: #3f3f3f;
    margin:15px 0;
}
pre {
    border-radius: 3px;
    background-color: rgb(40, 40, 40);
    color:white;
    padding: 10px;
    overflow: auto;
    white-space: pre-line;
}
code {
    font-family: 'Source Code Pro', 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 16px;
    white-space: pre-line;
    border-radius: 3px;
    background-color: rgb(40, 40, 40);
    color:white;
    padding: 1px 7px;
}
pre code {
    font-size: 14px;
}
/* IDs */
#post {
    background-color: white;
    position: absolute;
    min-height: 80vh;
    margin-top: 15px;
    right:0px;
    left:0px;
    color: black;
}
#content {
    width:65vw;
    margin:auto;
    margin-bottom: 100px;
    text-align: left;
}
#content a {
    color: rgb(182, 24, 24);
}
#content a:hover {
    color: #A8DADC;
}
#title {
    font-size: 40px;
}
#posthead {
    padding: 25px 0 25px 0;
}
#posthead-img {
    float:left;
    width:25%;
    text-align: left;
}
#posthead-img img {
    max-height: none;
    width:75%;
}
#posthead-title {
    float:left;
    width: 50%;
    text-align: left;
}
#post-body img {
    margin:10px auto;
    display:block;
    width:100%;
    max-height: none;
    border-radius: 3px;
    border: 1px solid rgb(40,40,40) ;
}

/* Classes */
.section-header {
    font-size: 30px;
}
.column {
    float: right;
    width: 50%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*TABLET*/
@media screen and (max-width: 1025px) {
    #content {
        width:85vw;
    }
    #posthead-img {
        float:left;
        width:100%;
        text-align: center;
    }
    #posthead-img img {
        width:30%;
    }
    #posthead-title {
        float:left;
        width: 100%;
        text-align: center;
    }
    .section-header {
        font-size: 28px;
    }
}

/*MOBILE*/
@media screen and (max-width: 640px) {
    span, p {
        font-size: 14px;
    }
    code {
        font-size: 12px;
    }
    #title {
        font-size: 28px;
        line-height: 20px;
    }
    #content {
        width:95vw;
    }
    #posthead-img {
        float:left;
        width:100%;
        text-align: center;
    }
    #posthead-img img {
        width:35%;
    }
    #posthead-title {
        float:left;
        width: 100%;
        text-align: center;
    }
    .section-header {
        font-size: 24px;
    }
}