@import url('https://fonts.googleapis.com/css?family=Concert+One|Open+Sans|Noto+Sans+JP|Ubuntu|Roboto|Roboto+Mono|Source+Code+Pro&display=swap');
html {
	scroll-behavior: smooth;
}
body {
    background-color: rgb(255, 255, 255);
    color:black;
    margin:auto;
    font-family: 'Noto Sans JP', Roboto, 'Arial', 'Open Sans', "Helvetica Neue", sans-serif;
}
p {
    line-height: 1.5;
}
h2 {
    text-align:center;
    font-family: 'Source Code Pro', 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    color: #A8DADC;
    transition:.5s;
}
a:visited {
    color:black;
}
i {
    text-decoration: none;
    color:black;
}
i:visited {
    color:black;
}
/* CLASSES */
.buttons {
    text-align: center;
}
.button {
    border-radius: 5px;
    border: 1px solid #ab2537fa;
    padding: 2% 2.5%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    margin: 1vh 1vw;
    transition: all .25s linear 0s;
    width:10vw;
}
.button:hover {
    border: 1px solid #A8DADC;
}
  /* IDs */
#header {
    background-color: black;
    color:white;
    height: 20vh;
    line-height: 5vh;
    /* fix top bar */
    width:100vw;
    position:fixed;
    top:0;
    overflow:hidden;
    z-index: 300;
}
#header h1 {
    font-family: 'Source Code Pro', 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-align:center;
    margin:0;
    padding:25px;
    color:red;
    font-size: 36px;
}
#header ul {
    width:100%;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding:0;
}
#header li {
    display: inline;
    margin: 2% 2%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
}
#header li a {
    color:white;
    text-decoration: none;
}
#header li a:visited {
    color:white;
}
#header li a:hover {
    color: #A8DADC;
    transition:.5s;
}
#header li a i {
    color:white;
    text-decoration: none;
    font-size: 30px;
}
#header li a i:hover {
    color: #A8DADC;
    transition:.5s;
}
/* terminal effect */
@keyframes caret {
    50% {background-color: black;}
}
#animation {
    display: inline-block;
}
#animation span {
    background-color:white;
    animation: caret 1s steps(1, end) infinite;
}
#title {
    height:10vh;
}
#title span {
    display: inline-block;
    white-space: nowrap;
}

#body {
    padding: 2vw;
    margin-top:20vh;
    overflow:hidden;
}
#welcome h2 {
    font-family: 'Concert One', 'Noto Sans JP', Roboto, 'Arial', 'Open Sans', "Helvetica Neue", sans-serif;
    letter-spacing: 1.5px;
    font-size: 32px;
    color:rgb(65, 65, 65)
}

#welcome img {
    width:25%;
    opacity:90%;
    display:block;
    margin:1% auto;
    border-radius: 50%;
}
#welcome p {
    text-align: justify;
    display:block;
    margin:auto;
    width:60%;
}
#about {
    text-align: justify;
    display:block;
    width: 50%;
    margin:auto;
    
}
#about h2 {
    letter-spacing: 1.25px;
    color:rgb(65, 65, 65)
}
#about ul {
    text-align: left;
    margin: 3px 10px;
}
#about li {
    padding: 2px;
}
#about img {
    width:60%;
    opacity:90%;
    display:block;
    margin:1% auto;
    border-radius: 2%;
}
/* TABLET */
@media screen and (max-width: 1023px) {
    p {
        font-size:20px;
    }
    i {
        font-size:20px;
    }    
    a {
        font-size:20px;
    }
    #header {
        height:18vh;
        font-size:14px;
        line-height: 4vh;
    }
    #header h1 {
        /* font-size: px; */
        padding:15px 1px;
    }
    #header li i a {
        font-size: 14px;
    }
    #title {
        height:7.5vh;
    }
    #home {
        margin-left: 0;
    }
    #header {
        margin-bottom: 10px;
    }
    #header ul {
        margin: 1% 0;
    }
    #header li {
        margin: .5% 5%;
    }
    #header li a i {
        color:white;
        text-decoration: none;
        font-size: 32px;
    }
    #welcome h2 {
        font-size: 32px;
    }
    #welcome img {
        width:50%;
        opacity:90%;
        display:block;
        margin:1% auto;
        border-radius: 50%;
    }
    #welcome p {
        text-align: justify;
        display:block;
        margin:auto;
        width:80%;
    }
    #body {
        margin-top:15vh;
        overflow:hidden;
    }
    #about {
        text-align: justify;
        display:block;
        width: 80%;
        margin:auto;
    }
    #about img {
        width:80%;
    }
    .button {
        width:25vw;
    }
}
/*MOBILE*/
@media screen and (max-width: 640px) {
    p {
        font-size:18px;
    }
    i {
        font-size:18px;
    }    
    a {
        font-size:18px;
    }
    #header {
        height:20vh;
        font-size:14px;
        line-height: 4vh;
    }
    #header h1 {
        font-size: 24px;
        padding:15px 1px;
    }
    #header li i a {
        font-size: 14px;
    }
    #title {
        height:7.5vh;
    }
    #home {
        margin-left: 0;
    }
    #header {
        margin-bottom: 10px;
    }
    #header ul {
        margin: 2% 0;
    }
    #header li {
        margin: 5% 5%;
    }
    #header li a i {
        color:white;
        text-decoration: none;
        font-size: 24px;
    }
    #welcome h2 {
        font-size: 27px;
    }
    #welcome img {
        width:50%;
        opacity:90%;
        display:block;
        margin:1% auto;
        border-radius: 50%;
    }
    #welcome p {
        text-align: justify;
        display:block;
        margin:auto;
        width:90%;
    }
    #body {
        margin-top:15vh;
        overflow:hidden;
    }
    #about {
        text-align: justify;
        display:block;
        width: 90%;
        margin:auto;
    }
    #about h2 {
        text-align: left;
    }
    #about img {
        width:90%;
    }
    .button {
        width:70vw;
    }
}
